// Default colors setting, could be change if different library is used
// Materials and other lib with gradient should not be added here (create _gradient.scss)$primary: #7cbdae;
$error: red;
$grey: #666666;
$grey-2: #ccd3d1;
$grey-3: #dbe0df;
$grey-4: #f0f2f1;
$grey-5: #f9faf9;
$white: #ffffff;
$black: #000000;
$black-1: #333333;
$pastel-red: #ff7a7a;
