@import '../variables';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: $fontWeightMedium;
  line-height: 1.2;
  color: var(--surface-900);

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: clamp(2rem, 1rem + 6vw, 3rem);
}

h2 {
  font-size: clamp(1.625rem, 1rem + 5vw, 2.25rem);
}

h3 {
  font-size: clamp(1.375rem, 1rem + 4vw, 1.75rem);
}

h4 {
  font-size: clamp(1.125rem, 1rem + 3vw, 1.25rem);
}

mark {
  background: #fff8e1;
  padding: 0.25rem 0.4rem;
  border-radius: $borderRadius;
  font-family: monospace;
}

blockquote {
  margin: 1rem 0;
  padding: 0 2rem;
  border-left: 4px solid #90a4ae;
}

hr {
  border-top: solid var(--surface-border);
  border-width: 1px 0 0 0;
  margin: 1rem 0;
}

p {
  font-size: $fontSize;
  margin: 0 0 1rem 0;
  line-height: 1.5;

  &:last-child {
    margin-bottom: 0;
  }
}
